body{
    margin: 0;
    display: grid;
    grid-template-areas: "navbar navbar navbar navbar"
                         "header  section aside div"
                         "footer footer footer footer";
                         
    grid-template: 20vh 70vh 40vh;
    


}

nav{
    grid-area: navbar;
    background-color: yellow;
    height: 50px;
     display: flex;
    align-items: center;
    justify-content: space-around 

}
nav a:hover{
    background-color: black;
}

}   

}
 img{
     cursor: pointer;
     display: none;
 }

 @media(max-width: 768px;){
     nav a{
         display: none;
         

     }
     nav img{
         display: block;
     }
 }
    header{
     grid-area: header;
     background-color: green;

 }
 section{
     grid-area: section;
     background-color: aqua;
     
     

 }
 aside{
     grid-area: aside;
     background-color: orange; 
 }
    div{
    grid-area: div;
    background-color: red;
    }
 
 }
 footer{
 grid-area: footer;
 background-color: magenta;
}

@media(max-width: 700px){
    body{
        grid-template: "navbar navbar navbar navbar"
                       "header header header header"
                         "section section section section"
                         "aside aside aside aside"
                         "div div div div"
                          "footer footer footer footer";
    grid-template-rows:  20vh 70vh 70vh 40vh; 

    }
    
}


 
